// Width variables
$small-phone: 424px;
$medium-phone: 460px;
$large-phone: 560px;
$tablet: 846px;
$large-tablet: 996px;

// Colours
$light-grey: #eee;
$grey: #e7e7e7;
$dark-grey: #ddd;
$heavy-grey: #777;
$black: #000;
$white: #fff;
$red: #fd6c6c;
$blue: #337ab7;
$light-black: rgba(0, 0, 0, 0.04);

$shadow: rgba(0, 0, 0, 0.004);

$fonts: Segoe UI, Roboto, Source Sans Pro, Helvetica, Arial, sans-serif;
