# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# These owners will be the default owners for everything in the repo.
*       @GoldenBadger

# Backend
*.rs    @GoldenBadger
*.hbs   @GoldenBadger @butlerx
# Frontend
*.js    @butlerx
*.scss  @butlerx

# You can also use email addresses if you prefer.
# docs/*  docs@example.com
