<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="main.css">
    <script src="bundle.js" async></script>
  </head>
  <body>
    <div class="container">
      <header>
        <h1>Welcome {{name}}</h1>
      </header>
      <nav class="sidebar">
        <a>links</a>
      </nav>
      <main class="main">
        <div data-controller="hello">
          <input data-target="hello.name" type="text">
          <button data-action="click->hello#greet">
            Greet
          </button>
          <span data-target="hello.output"></span>
        </div>
      </main>
      <footer>
        <p>Its rough i know</p>
      </footer>
      <div class="gutter"></div>
    </div>
  </body>
</html>
